<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ManageEmployee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div>
        <h2>Manage Employee Data</h2>
    </div>
    <div class="m-2"><a class="h3" th:href="@{/employee/new}">Add New Employee</a></div>
    <div th:if="${message}" class="alert alert-success text-center">[[${message}]]</div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <th>ID</th>
            <th>Nama</th>
            <th>Atasan ID</th>
            <th>Company ID</th>
            </thead>
            <tbody>
            <th:block th:each="emp: ${employeeList}">
                <tr>
                    <td>[[${emp.id}]]</td>
                    <td>[[${emp.nama}]]</td>
                    <td>[[${emp.atasanId}]]</td>
                    <td>[[${emp.companyId}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/employee/edit/' + ${emp.id}}">Edit</a>
                        <a class="h4" th:href="@{'/employee/delete/' + ${emp.id}} ">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>