<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <form th:action="@{/employee/save}" method="post" th:object="${employee}" style="max-width: 500px; margin: 0 auto">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nama : </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{nama}" class="form-control" required minlength="2" maxlength="50">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Atasan ID : </label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{atasanId}" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Company ID : </label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{companyId}" class="form-control">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="submit" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>

        </div>


    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/employee}]]"
    }
</script>

</body>
</html>